---
# Ubuntu 24.04 LTS (Noble Numbat) Installation Template
# Simplified: just write image and reboot - let cloud-init/DHCP handle the rest
apiVersion: tinkerbell.org/v1alpha1
kind: Template
metadata:
  name: ubuntu-2404
  namespace: tink-system
spec:
  data: |
    version: "0.1"
    name: ubuntu-2404
    global_timeout: 1800
    tasks:
      - name: os-installation
        worker: "{{.device_1}}"
        volumes:
          - /dev:/dev
          - /dev/console:/dev/console
          - /lib/firmware:/lib/firmware:ro
        actions:
          - name: stream-ubuntu-image
            image: quay.io/tinkerbell/actions/qemuimg2disk:latest
            timeout: 1800
            environment:
              DEST_DISK: /dev/sda
              IMG_URL: https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
          - name: reboot
            image: quay.io/tinkerbell/actions/kexec:latest
            timeout: 90
            pid: host
            environment:
              BLOCK_DEVICE: /dev/sda1
              FS_TYPE: ext4
